@import "fonts";

html * {
  outline: 0 !important;
}

html,
body {
  height: 100%;
}

a {
  color: #777;

  &:focus,
  &:hover {
    color: #555;
  }
}

@import "navbar";
@import "sidebar";

.sub-header {
  padding: 5px 0;
  background-color: #f2f2f2;

  ul {
    margin: 0;

    > li {
      font-size: 1vw;
      font-family: bpg_mrgvlovani_caps;

      > a {
        > img {
          width: 5vw;
        }

        > i {
          font-size: 32px;
          vertical-align: middle;
          color: #238ed6;
        }
      }

      //> span {
      //  white-space: nowrap;
      //  overflow: hidden;
      //  text-overflow: ellipsis;
      //}
    }
  }
}

#main,
footer {
  -webkit-transition: margin-left .4s;
  -moz-transition: margin-left .4s;
  -ms-transition: margin-left .4s;
  -o-transition: margin-left .4s;
  transition: margin-left .4s;
}

#main {
  margin-left: 320px;
  min-height: calc(100% - 165px);
  background-color: #dfdfdf;
}

footer {
  padding: 50px 0;
  margin-left: 320px;
  background-color: #fff;

  [class^="col-"] {
    text-align: center;
  }
}

.lightSlider {
  margin-bottom: 0;
}

.links {
  height: 100%;
  background-color: #fafafa;

  &.links-dark {
    background-color: #5a5a5a;

    .nav > li > a {
      color: #999;

      > img {
        width: 115px;
      }

      &:focus,
      &:hover {
        color: lighten(#999, 12%);
      }
    }
  }

  .nav {
    margin: 75px 0;
    padding-left: 0;

    > li > a {
      font-size: 12px;
      font-family: bpg_mrgvlovani_caps;
      text-decoration: none;

      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -ms-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;

      > img,
      > span {
        display: block;
        margin: 0 auto;
      }

      > img {
        max-width: 10vw;
      }

      > span {
        margin-top: 10px;
        font-size: .8vw;
      }

      &:focus,
      &:hover {
        color: #238ed6;
        background-color: transparent;
      }
    }

    &.small {
      margin: 25px 0;
    }
  }
}

.services ul {
  //list-style: none;
  //margin: 0;
  //padding: 0;

  > li {
    margin-bottom: 0;
    //display: inline-block;

    > a {
      margin-right: 0;
      border: none;
      padding: 20px 30px;
      font-size: 12px;
      font-family: bpg_mrgvlovani_caps;
      background-color: #fff;

      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      &:focus,
      &:hover {
        padding-bottom: 17px;
        border-bottom: 3px solid #7dc94f !important;
      }
    }
  }

  &:last-child > li > a {
    padding-bottom: 20px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 3px solid #238ed6;
  }
}

.services-links {
  padding: 20px 10px;

  ul {
    font-size: 0;
    padding-left: 0;
    margin-bottom: 10px;

    > li {
      width: 20%;
      padding: 0;
      display: inline-block;
      vertical-align: top;

      > a {
        margin: 0 5px;
        padding: 15px 20px;
        background-color: #fff;
        font-size: 12px;
        font-family: bpg_mrgvlovani;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .25);
        -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .25);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .25);

        -webkit-transition: background-color .3s, color .3s;
        -moz-transition: background-color .3s, color .3s;
        -ms-transition: background-color .3s, color .3s;
        -o-transition: background-color .3s, color .3s;
        transition: background-color .3s, color .3s;

        &:focus,
        &:hover {
          color: #fff;
          background-color: #238ed6;
        }
      }
    }
  }
}

body.sidebar-collapsed {
  #sidebar {
    left: -300px;

    //.nav {
    //  visibility: hidden;
    //}

    .sidebar-toggle i:before {
      content: "\f105";
    }
  }

  #main,
  footer {
    margin-left: 20px;
  }
}

//body:not(.sidebar-collapsed) #main .links .nav.small > li > a {
//  > img {
//    width: 8vw;
//  }
//
//  > span {
//    font-size: .8vw;
//  }
//}
